#see_bookings_modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    gap: 20px;
    width: 100%;
    min-width: 50vw;
    height: 100%;

}



#bookings_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#booking_title {
    font-size: 20px;
    font-weight: 700;
}


#closeIcon {
    height: 40px;
    width: 40px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#closeIcon:hover {
    cursor: pointer;
    background-color: #e3e3e3;
}

#bookings_list {
    gap: 15px;
    box-sizing: 15px;
    width: 100%;
    overflow-y: scroll;
}


.booking_item>th,
.booking_item>td {
    padding: 10px;
    border: .5px solid black;
    font-weight: 700;
}