#trips_page {
    padding: 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#your_trips {
    display: flex;
    width: 100%;
    font-size: 30px;
    font-weight: 700;

}

#trip_card_container {
    padding-bottom: 30px;
    border-bottom: 1px solid #d3d3d3;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#trips_list {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#reservations_info {
    width: 100%;
    background-color: black;
    display: flex;
    height: 50px;
    align-items: center;
}

#reservations_info>div {
    color: white;
    width: 25%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

#cancel_reservation {
    cursor: pointer;
}

#cancel_reservation:hover {
    background-color: white;
    color: black;
    border: .5px black solid;
}

#no_trips {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: black;
    gap: 10px;
}

#no_trips>a {
    font-weight: 700;
}

#no_trips>a:hover {
    font-weight: 700;
    color: #FF5A60;
}