#searchBarDiv {
    margin-top: 100px;
    background-color: white;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#searchComponent {
    width: 80%;
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: palegoldenrod;
}

#search_check_parent {
    position: relative;

}

#search_start_date {
    background-color: white;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    cursor: pointer;
    border-radius: 20px;
}

#search_start_date:hover {
    background-color: #EBEBEB;
}

#check_in {
    font-weight: 700;
    font-size: 14px;
}

#date_range_pop_up {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 80px;
    right: 50px;
}