@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Lora:wght@400;500&display=swap");


.search_border_div {
    height: 32px;
    border-right: 1px solid #F3F3F3;
}

#searchComponent {
    width: 60%;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    border-bottom: .5px solid #F3F3F3;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 29px 0px;
    margin: 20px 0 20px 0;
}

#location_search,
#search_dates,
#guest_search {
    border-radius: 30px;
    background-color: white;
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: auto;
    gap: 5px
}

#searchComponent>div>label {
    display: flex;
    font-weight: 600;
    font-size: 13px;
    width: 80%;
    letter-spacing: .5px;
    font-family: Lato, sans-serif;
}

#searchComponent>div>input {
    width: 80%;
    background-color: transparent;
    font-family: Lato, sans-serif;

}

#location_search:hover,
#search_dates:hover,
#guest_search:hover {
    background-color: #EBEBEB;
}


#location_search {
    border-radius: 30px;
    background-color: white;
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: auto;
}

#search_dates {
    position: relative;
    border-radius: 30px;
    background-color: white;
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    cursor: pointer;

}

#search_start_date {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;

}



#search_dates>label {
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

#search_date_range {
    font-weight: 700;
    font-size: 14px;
    width: 80%;
    cursor: pointer;
}

#date_range_pop_up {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 80px;
    right: 50px;
    z-index: 1;
}

#guest_search {
    border-radius: 30px;
    background-color: white;
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
}

#search_icon_div {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}

#search_icon {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #FF395C;
    cursor: pointer;
    margin-right: 10px;
}