.detailPage {
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.topDiv {
    display: flex;
    justify-content: space-between
}
.topText > ul {
    display: flex;
    justify-content: flex-start;
    margin-left: -40px;
}


.topText > ul > li {
    padding-right: 10px;
}

.user_btn {
    background: linear-gradient(
        to bottom right,
        #E5204D, #D70965
    );
    color: white;
    font-weight: 500;
    height: 45px;
    width: 80px;
    margin: 5px;
    border-radius: 5px;
}

.user_btn {
    cursor: pointer;

}

.topButtons {
    margin-top: 5px;
    margin-right: 10px;
}

.star {
    color: #FF385C;
}
.test {
    color: black;
    font-weight: 400;

}

.images {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 16px 16px 16px 0; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    gap: 16px;;
}

.images > img {
width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-0 {
    grid-column: span 2;
    grid-row: span 2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 15px;
}

.image-1 {
    grid-column: span 1;
    grid-row: span 1;
}

.image-2 {
    grid-column: span 1;
    grid-row: span 1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 15px;
}
.image-3 {
    grid-column: span 1;
    grid-row: span 1;

}
.image-4 {
    grid-column: span 1;
    grid-row: span 1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 15px;
}

.bottomSection {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.leftSec {
    display: flex;
    flex-direction: column;
    width: 70%;
}  

.leftSec > p {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: -10px;
}

.rightSec{
    width: 25%;
    margin-right: 20px;
    margin-top: 20px;

}

.bookingsDiv {
    width: 100%;
    height: 300px;
    border-radius: 20px;
font-size: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: solid 1px #D3D3D3;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.bookingsDiv > button {
    background: linear-gradient(
        to bottom right,
        #E5204D, #D70965
    );
    color: white;
    font-weight: 500;
    height: 45px;
    width: 80%;
    margin-bottom: 15px;
    border-radius: 5px;
}


.descriptionDiv {
    width: 90%;
}

.reviewsDiv {
    margin-top: 50px;
    margin-bottom: 100px;
}