*,
a {
    text-decoration: none;
}

.listingsPage {
    margin: 150px auto 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.leftSide {
    width: 45%;
    display: flex;
    flex-direction: column;
}


.rightSide {
    width: 55%;
}

.listingCard {
    border-top: 1px solid #D3D3D3;
    display: flex;
    justify-content: space-between;
    height: 250px;
    width: 90%;
    margin: 10px;
    padding-top: 30px;
}

.listingCard:hover {
    cursor: pointer;
}

.title {
    color: black;
    margin-left: 20px;
    font-size: 22px;
    font-weight: 500;
}

.cardImage {
    width: 40%;
    height: 100%;

}

.cardImage>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

}

.cardInfo {
    width: 60%;
    display: flex;
    flex-direction: column;

}


.cardInfo>div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.cardInfoDetails {
    font-size: 18px;
    margin-left: 20px;
    color: gray;
    font-weight: 700;
}


.bottomSec {
    display: flex;
    display: flex;
    justify-content: flex-end;

}

.reviews {
    align-self: flex-start;
    font-size: 18px;
    margin-left: 20px;
    color: black;
    display: flex;
    align-items: flex-end;

}

.price {
    align-self: flex-end;
    margin-top: -10px;
    margin-right: 20px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
    color: black;
}

.fa-star {
    color: #FF385C;
    margin-bottom: 3px;
}

.reviews>span {
    font-weight: 500;
}

#avgRatingText {
    padding-left: 5px;


}

#reviewAmount {
    font-weight: 300;
    color: gray;
    font-size: 15px;

    padding-left: 10px;
}