main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* NOTE SECTION SEARCH BAR */

#search_bar_div {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* NOTE SECTION BIG IMAGE FLEXIBLE */

div .home_largeimg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 80vh;
}

div .largeimg_card {
    height: 90%;
    width: 90%;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    border-radius: 20px;
}

.largeimg_overlay {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, 0);
}

.largeimg_overlay>p {
    color: white;
    font-weight: 300;
    font-size: 40px;
    white-space: nowrap;
}

.largeimg_overlay>button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background-color: white;
    width: 185px;
    height: 50px;

}

.largeimg_overlay>button>p {
    font-weight: 700;
    font-size: 20px;
    background:
        linear-gradient(90deg, #3f0654, #f526d6);
    background-clip: text;
    color: transparent;
}

.largeimg_overlay>button>p:hover {
    cursor: pointer;
}


/* NOTE SECTION FOUR CARDS */
.home_inspo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#inspiration_new_trip {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    font-size: 30px;
    font-weight: 300;
}

.home_inspocards {
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.home_inspocards>div {
    width: 21%;
    height: 350px;
}

.inspo_card1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    height: 75%;
    background-color: #CC2D4A;
    color: white;
    margin: 10px;
}

.inspo_card2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    height: 75%;
    background-color: #CC2D4A;
    color: white;
    margin: 10px;
}

.inspo_card3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    height: 75%;
    background-color: #CC2D4A;
    color: white;
    margin: 10px;
}

.inspo_card4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    height: 75%;
    background-color: #CC2D4A;
    color: white;
    margin: 10px;
}

.inspo_img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 200px;
}

.inspocard_overlay>*:first-child {
    font-size: 30px;
    font-weight: 700;
}

.inspocard_overlay {
    padding: 24px 16px 16px;
    color: white;
}

/* NOTE SECTION ARTICLES 2 BIG IMAGES */
.home_discover {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 25px;
}

.discover_card {
    border-radius: 20px;
    position: relative;
    width: 44%;
}

.discover_card>img {
    border-radius: 20px;
    width: 100%;
}

.discover_overlay {
    position: absolute;
    /* inset: 0 0 0 0; */
    top: 0;
    left: 40px;
}

.discover_overlay>*:first-child {
    color: white;
    font-size: 50px;
    font-weight: 700;
}


.discover_overlay>button {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    width: 185px;
    height: 50px;
}

/* NOTE SECTION SHOP*/

.home_shop {
    display: flex;
    margin-top: 80px;
    margin-bottom: 100px;
    width: 70%;
}

.home_shop>div>p {
    display: flex;
    font-size: 50px;
    font-weight: 700;
}

.home_shop>div>button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
}

.home_shop>img {
    height: 400px;
}