
main {
    display: flex;
    flex-direction: column;
    align-items: center;   

}


/* NOTE SECTION ONE */
.home_search {
    background-color: black;;
    width: 100%;
}


/* NOTE SECTION TWO */

div .home_largeimg {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
}

div .largeimg_card {
    position: relative;
    padding: 50px;
    height: 850px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
    border-radius: 20px;
}

.largeimg_overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12px;
    z-index: 1;
    position: absolute;
    bottom: 70px;
    right: 500px;


}

.largeimg_overlay > p {
color: white;
font-weight: 700;
font-size: 50px;
white-space: nowrap;
}

.largeimg_overlay > button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background-color: white;
    width: 185px;
    height: 50px;

} 

.largeimg_overlay > button > p {
    font-weight: 700;
    font-size: 30px;
    background:
    linear-gradient(90deg, #3f0654, #f526d6);
    background-clip: text;
    color: transparent;
}   

/* NOTE SECTION THREE */
 
.home_inspocards {

display: flex;
padding: 50px;
height: 600px;


} 

 

.inspo_card1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    height: 75%;
    background-color: #CC2D4A;
    color: white;
    margin: 10px;
}


.inspo_card2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    height: 75%;
    background-color: #CC2D4A;
    color: white;
    margin: 10px;

}


.inspo_card3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    height: 75%;
    background-color: #CC2D4A;
    color: white;
    margin: 10px;

}


.inspo_card4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    height: 75%;
    background-color: #CC2D4A;
    color: white;
    margin: 10px;

}

.inspo_img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 320px;
    height: 213px;
}



.inspocard_overlay  > *:first-child{
    font-size: 30px;
    font-weight: 700;
}

.inspocard_overlay  {
    padding: 24px 16px 16px; 
    color: white;


}