
main {
    display: flex;
    flex-direction: column;
    align-items: center;   


}


/* NOTE SECTION ONE */
.home_search {
    background-color: black;;
    width: 100%;
}


/* NOTE SECTION TWO */

div .home_largeimg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 80vh;
    margin-bottom: 55px;

}

div .largeimg_card {
    height: 90%;
    width: 80%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    border-radius: 20px;
}

.largeimg_overlay {
     display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -250px;
}

.largeimg_overlay > p {
color: white;
font-weight: 700;
font-size: 50px;
white-space: nowrap;
}

.largeimg_overlay > button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background-color: white;
    width: 185px;
    height: 50px;

} 

.largeimg_overlay > button > p {
    font-weight: 700;
    font-size: 30px;
    background:
    linear-gradient(90deg, #3f0654, #f526d6);
    background-clip: text;
    color: transparent;
}   

.largeimg_overlay > button > p:hover {
cursor: pointer;
}  


/* NOTE SECTION THREE */
 .home_inspo {
     display: flex;
     flex-direction: column;

    }

.home_inspo > p{
    font-size: 40px;
    font-weight: 700;
    }

.home_inspocards {
display: flex;
/* padding-top: 50px; */
height: 600px;
} 

.inspo_card1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    height: 75%;
    background-color: #CC2D4A;
    color: white;
    margin: 10px;
}

.inspo_card2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    height: 75%;
    background-color: #CC2D4A;
    color: white;
    margin: 10px;
}

.inspo_card3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    height: 75%;
    background-color: #CC2D4A;
    color: white;
    margin: 10px;
}

.inspo_card4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    height: 75%;
    background-color: #CC2D4A;
    color: white;
    margin: 10px;
}

.inspo_img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 320px;
    height: 213px;
}

.inspocard_overlay  > *:first-child{
    font-size: 30px;
    font-weight: 700;
}

.inspocard_overlay  {
    padding: 24px 16px 16px; 
    color: white;
}

/* NOTE SECTION 5 */
.home_discover {
    display: flex;
}

.discover_card {
    border-radius: 20px;
    padding-left: 15px;
    position: relative
}

.discover_card > img {
    border-radius: 20px;
}

.discover_overlay {
    position: absolute;
    /* inset: 0 0 0 0; */
    top: 0;
    left: 40px;
}

.discover_overlay > *:first-child {
    color: white;    
    font-size: 50px;
    font-weight: 700;
}


.discover_overlay > button {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    width: 185px;
    height: 50px;
}

/* NOTE SECTION 6 */

.home_shop {
    display: flex;
    margin-top: 80px;
    margin-bottom: 100px;
    width: 70%;
}

.home_shop > div > p{
    display: flex;
    font-size: 50px;
    font-weight: 700;
}

.home_shop > div > button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
}

.home_shop > img {
 height: 400px;
}