
#addReviewButton {
    background: linear-gradient(
        to bottom right,
        #E5204D, #D70965
    );
    color: white;
    font-weight: 500;
    height: 35px;
    width: 10%;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 5px; 
}

.createReviewDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.createReviewForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
}
#starRating {
display: flex;
justify-content: center;
margin-bottom: 50px;

}

input[type="radio"] {
    display: none;
}


.ratingStars:hover {
    cursor:pointer;
    transition: color 200ms;
}


#reviewInput {
    border: #D3D3D3 1.5px solid;
    width: 100%;
    border-radius:5px;
    color: gray;
    margin-bottom: 15px;
}
    .createReviewForm  > label >input:focus{
     color: black;
     border: black 1.5px solid;
        }
    
#reviewInput {
 height: 100px;
}

    .createReviewForm  > button{
        background: linear-gradient(
            to bottom right,
            #E5204D, #D70965
        );
        color: white;
        font-weight: 500;
        height: 45px;
        width: 103%;
        margin-bottom: 15px;
        border-radius: 5px;
        }
    
    .createReviewForm  > button:hover{
        cursor: pointer;
    }


  
    #modal-background {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
      }
      