.footer{
width: 100%;
height: 100px;
background-color: #F7F7F7;
/* margin-bottom: -100px; */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
position: relative;
bottom: 0;
}

.bottomFooter {
padding: 10px;
color: black;
border-top: solid #d3d3d3 1px;
width: 95%;
}

.bottomFooter > a {
    text-decoration: none;
    color: black;
    }

.bottomFooter > a:hover {
    text-decoration: underline;
    color: black;
}