.createListingPage{
margin-top: 100px;
}

.createListingForm{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
}

.createListingForm > label > input{
    border: black solid 1px;
}

.createListing_btn {
    border: black solid 1px;
}

.increment, .decrement {
    border-radius: 25px;
    width: 30px;
    height: 30px;
    border: solid gray 1px;
    padding: 5px;
    color: gray;
    background-color: white;
}

.guestsButtons {
    display: flex;
    align-items: center;
}

.bedsButtons {
    display: flex;
    align-items: center;
}

.bedroomButtons {
    display: flex;
    align-items: center;
}