.createListingPage {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.imagePage {
    height: 100vh;
    width: 100%;
}

.createListingPage>h2 {
    font-weight: 500;
    font-size: 50px;
}

.createListingPage>p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-size: 17px;
    width: 100%;
    letter-spacing: .5px;
}

.lat-long {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    font-weight: 600;
    cursor: pointer;
}

.lat-long:hover {
    color: #D70965;

}

.createListingForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 20px;
}

.createListingForm>label>input,
.createListingForm>label {
    width: 100%;
}

#selected_space {
    background-color: red;
}

.createListingForm>label>p {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
    width: 100%;
}

.createListingForm>label>input {
    height: 40px;
    border: #D3D3D3 1.5px solid;
    width: 100%;
    border-radius: 5px;
    color: black;
}

.description {
    height: 50px;
}

#space_type_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

#space_type_btn_div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.space_type_btn {
    background-color: black;
    height: 40px;
    color: white;
    border-radius: 15px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.space_type_btn:hover {
    background-color: #D70965;
}


.form_buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 30px;

}

.form_buttons_label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_buttons_label>p {
    font-weight: 500;
    font-size: 20px;
}

.increment,
.decrement {
    border-radius: 25px;
    width: 30px;
    height: 30px;
    border: solid gray 1px;
    padding: 5px;
    color: gray;
    background-color: white;
    margin: 10px;
}


.guestsButtons {
    display: flex;
    align-items: center;
}

.bedsButtons {
    display: flex;
    align-items: center;
}

.bedroomButtons {
    display: flex;
    align-items: center;
}

.bathroomsButtons {
    display: flex;
    align-items: center;
}


.address {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 5px;
}

.address>input {
    height: 40px;
    width: 33%;
    border: #D3D3D3 1.5px solid;
    border-radius: 5px;
    color: black;
    padding: 5px;
}


.create_btn {
    background: linear-gradient(to bottom right,
            #E5204D, #D70965);
    color: white;
    font-weight: 500;
    height: 45px;
    width: 103%;
    margin: 15px;
    border-radius: 5px;
}

.create_btn>button:hover {
    cursor: pointer;
}