.imageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto 0 auto;
    width: 50%;
}

.imageForm>label>input,
.imageForm>label {
    width: 100%;
    margin-top: 10px;
}

.imageForm>label>p {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
}

.imageForm>label>input {
    height: 40px;
    border: #D3D3D3 1.5px solid;
    width: 100%;
    border-radius: 5px;
    color: black;
    margin-bottom: 20px;
}

.imageForm>.image_btn {
    background: linear-gradient(to bottom right,
            #E5204D, #D70965);
    color: white;
    font-weight: 500;
    height: 45px;
    width: 103%;
    margin: 15px;
    background-color: red;

    border-radius: 5px;
}

#sample_images {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    cursor: pointer;
}

#sample-images:hover {
    color: #D70965;
}