@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap');



div#root > *:first-child { margin-top: -20px; background-color: black; width: 100%; 
}
/* add overflow:hidden if the body messees up again */

  
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
text-decoration: none;

}


input:focus, textarea:focus, select:focus, input, button, form{
    outline: none;
border: none;
-webkit-appearance: none;
}


h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 27px;
}

li {
    list-style-type: none;
}

form > .signup_btn {
    background: linear-gradient(
        to bottom right,
        #E5204D, #D70965
    );
    color: white;
    font-weight: 500;
    height: 45px;
    width: 100%;
    border-radius: 5px;
}


form > .signup_btn:hover {
    cursor: pointer;
} 

body{
    margin : 0px !important;
 }


#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

 }
  /*
  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  #modal-content {
    position: absolute;
    background-color:white;
  }
 */


button:hover {
cursor: pointer;
}