.reviewCard {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
border: solid 1px #d3d3d3;
    padding: 10px;
}

.userInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftUserInfo {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

#editReview {
    margin: 0;
 
}

.leftUserInfo > img {
    object-fit: cover;
    height: 56px;
    width: 56px;
}

.details {
    padding-left: 10px;
    color: black;
    font-weight: 500;
}

.reviewDate {
    color: gray;
    font-weight: 300;

}

.userReview {
    padding: 15px 10px 10px 10px;
   display: flex;
   justify-content: flex-start;
   width: 90%;

}

.userReview > span {
    overflow-wrap: break-word;

}

.ratings {
    /* padding: 5px; */
margin-right: 20px;
display: flex;
flex-direction: column;

/* font-size: 20px; */
}

.fa-star {
    color: #FFA534;
    

}

.editReview {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #d3d3d3;
}

.editReview:hover {
    color:black;
    cursor: pointer;
}