.formDiv {
    width: 40%; 
    margin: 100px auto 100px auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
 justify-content: center;


}

.signUpForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.errorLi {
    list-style-type: none;
}

.signup_input {
    height: 40px;
    border: #D3D3D3 1.5px solid;
    width: 100%;
    border-radius:5px;
    color: gray;
    margin-bottom: 20px;
}

.signup_input:hover {
    color: black;
    border: black 1.5px solid;
};