.formDiv {
    width: 40%; 
    margin: 0 auto;
    height: 400px;
    display: flex;
 justify-content: center;
 background-color:red;

}

.signUpForm {
    background-color: blue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.errorLi {
    list-style-type: none;
}

.signup_input {
    height: 40px;
    border: #D3D3D3 1.5px solid;
    width: 100%;
    border-radius:5px;
    color: gray;
}

.signup_input:hover {
    color: black;
    border: black 1.5px solid;
}; */


.signup_btn{
    background: linear-gradient(
        to bottom right,
        #E5204D, #D70965
    );
    color: white;
    font-weight: 500;
    height: 45px;
    width: 103%;
    border-radius: 5px;

}
/* 
.signup_btn {
    background: linear-gradient(
        to bottom right,
        #E5204D, #D70965
    );
    color: white;
    font-weight: 500;
    height: 45px;
    width: 103%;
    border-radius: 5px;

}

.signup_btn button {
    cursor: pointer;
    margin-bottom: 15px;
} */