
.editReview {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #d3d3d3;
  background-color: white;
}

.editReview:hover {
  color:black;
  cursor: pointer;
}

#reviewInput {
  /* background-color: red; */
font-size: 14px;
  width: 100%;
  resize: none;
}

#reviewInput:hover {
  /* background-color: red; */
  color: black;
  border: black 1.5px solid;

  /* cols="200" disabled="disabled" style="width:500px; */

}

.deleteButton{
  display: flex;
  justify-content: center;

}

.deleteButton > button {
  padding: 10px;
  font-size: 14px;
  text-decoration: underline;
  background-color: transparent;
};
