@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap');



#navBar {
   /* overflow: visible; */
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   font-size: 18px;
   height: 70px;
   gap: 10px;
   background-color: white;
   border-bottom: .5px solid #D3D3D3;

}

#logo_div {
   height: 100%;
   width: 20%;
   display: flex;
   align-items: center;
   justify-content: center;
}

#logo_div>a>img {
   height: 50px;
}

/* #nav_search_div {
   width: 60%;
   height: 100%;

   display: flex;
   align-items: center;
   justify-content: center;
} */

#nav_right_div {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20%;
   height: 100%;
   position: relative;
}



.navButtons {
   display: flex;
   margin-right: 70px;
   align-items: center;

}



.login_btn {
   border: none;
   background-color: transparent;
   color: white;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 18px;
}

.nav_hover {
   background-color: #D3D3D3;
   height: 100%;
   width: 100%;
   padding: 10px;

}