@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap');

a > img{

 height: 40px;
}

nav a {
   text-decoration: none;
   color: white;
   margin: 5px;
} 

nav a:hover {
   color:#D3D3D3;
}

nav {
   position: sticky;
   top: 0;
   z-index: 4;
   height: 40px;
   display: flex;
   justify-content: center;

}


.navBar{
   overflow: visible;
   display: flex;
   width: 85%;
   background-color: black;
   padding-top: 15px;
   justify-content: space-between;
   font-size: 18px;
   height: 50px;
   background-color: black;
   }

 
.navMiddleLinks {
   display: flex;
}
.navMiddleLinks > li > a {
   display: flex;
padding-left: 10px;
padding-bottom: 10px;
}


.menu {
   color: gray;
   background-color: white;
   margin-bottom: 10px;
   border: white;
   border-radius: 20px;
   height: 40px;
   width: 75px;
   text-align: start;
   padding-left: 10px;
   font-size: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}



.fa-user-circle {
color: gray;

padding-right: 5px;
font-size: 20px;
}

.dropdown > button:hover {
   cursor: pointer;
   }
   


.dropdown > ul {

   display: flex;
   flex-direction: column;
   position: absolute;
   background-color: white;
   margin: 0 0 0 -100px;
   border-radius: 20px;
   width: 120px;
   height: fit-content;
   background-color: red;


}

.dropdownList > li {
   margin: 0 0 0 -25px;
   padding: 8px 10px 5px 10px;
   font-size: 14px;
   width: 100%;

}

.dropdownList > li:hover {
   cursor: pointer;
background-color: #D3D3D3;
border-radius: 10px;
}

.navButtons {
   display: flex;
   justify-content: space-between;
   margin-right: 70px;

}

.login_btn {
   border: none;background-color: transparent;
   color: white;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 18px;
}

.logout_btn {
   border-top: 1px solid #D3D3D3;
   width: 100%;
   background-color: transparent;
   color: black;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 14px;
   margin-left:-5px;
}



.logo {
   margin-top: -10px;
}