#modal-content {
    height: 400px;
    background-color:white;
    border-radius: 25px;
    width: 30%;
    height: 60%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.loginForm {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    width: 60%;
    margin: 0 auto;

}

.loginForm  > label{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.loginForm  > label >input{
height: 30px;
border-color: #D3D3D3;
border-radius:5px;
border-color: white;
color: gray;
margin: 15px;

}

.loginForm  > label >input:focus{
 background-color: red;
 accent-color: pink;
 border: white;
 color: black;
 border: black 3px;
    }

.loginForm  > button{
    height: 35px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    }